<link rel="stylesheet" href="assets/css/navbar.css" />
<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">☁️ SiCSy</div>

        <button class="navbar-toggle" aria-label="Menu">&#9776;</button>

        <ul class="navbar-links">
            <li><a href="index.html">Accueil</a></li>
            <li><a href="wiki.html">Wiki</a></li>
            <li><a href="https://github.com/taran35/SiCSy/releases" target="_blank" rel="noopener noreferrer">Téléchargement</a></li>
            <li><a href="https://paypal.me/TaranGauvry" target="_blank" rel="noopener noreferrer">Faire un don</a>
            </li>
        </ul>
    </div>
</nav>
  