<link rel="stylesheet" href="assets/css/navbar.css" />
<nav class="navbar">
    <div class="navbar-container">
        <button class="navbar-toggle" aria-label="Menu">&#9776;</button>
        <div class="navbar-brand">☁️ SiCSy</div>

        <ul class="navbar-links">
            <li><a href="index.html">Accueil</a></li>
            <li><a href="wiki.html">Wiki</a></li>
            <li><a href="get.html" target="_blank" rel="noopener noreferrer">Obtenir</a></li>
            </li>
        </ul>
    </div>
</nav>
  